POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=postgres
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@nux.local
PGADMIN_PASSWORD=change-me
PGADMIN_PORT=5050

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
